<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
     <!--Google Shopping API-->
    <add key="OAuth2ClientId" value="810586125243-247chqvehi7lvg95qdrph8uir0cqng00.apps.googleusercontent.com" />
    <add key="OAuth2ClientSecret" value="DhlklSWZ5ZMCQRlxORb7WYTz" />
  </appSettings>
</configuration>